.single-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    gap: 20px;
    min-height: 450px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .2), 0 -3px 4px -1px rgba(0, 0, 0, .06);
}

.single-product-container img {
    max-width: 400px;
    height: 500px;
    object-fit: contain;
}

.single-product-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: start;
}

.amount-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.amount-btn button {
    font-size: 2rem;
    border: none;
    background-color: transparent;
}

.amount-btn div {
    font-size: 2.5rem;
    font-weight: bold;
}

.btn-add-cart {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.spinner {
    contain: cover;
}

.btn-back {
    margin: 30px 10%;
}


@media (max-width: 1023px) {
    .single-product-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
    }

    .single-product-container img {
        margin: 0 auto;
        width: 90%;
        height: auto;
    }

  }